*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: '微软雅黑', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(162, 143, 145);
}
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 2;
}

header.sticky{
  padding: 15px 100px;
  background: rgb(255, 255, 255);
  opacity:0.6;
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size:2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}


.banner{
  position: relative;
  width: 100%;
  height: 0vh;
  background: rgb(162, 143, 145);
  background-size: cover;
}

.card{
  position: fixed;
  width: 400px;
  height: 600px;
  transform-style: preserve-3d;
}

.card .face{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s ease-in-out;
  backface-visibility: hidden;
  transform: perspective(500px) rotateY(0deg);
}

.card .face.front{
  background:url(img/alipay.jpg);
}

.card:hover .face.front{
  transform: perspective(500px) rotateY(180deg);
}

.card .face.back{
  background:url(img/wepay.jpg);
  color: #fff;
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back{
  transform: perspective(500px) rotateY(360deg);
}

.card .face h2{
  font-size: 3em;
  text-transform: uppercase;
  transform: perspective(500px) translateZ(50px);
  position: relative;
  top:50%;
}